.header-button {
	border-radius: 50%;
	text-align: center;
}

.header-button img {
	height: 20px;
	width: 20px;
	margin: 3px -2px 0 -2px
}

.header-button:hover img {
	filter: invert(100);
	transition: all .15s ease-in-out;
}
